.favorites {
  position: absolute;
  top: size(14px);
  right: size(-3px);
  display: flex;
  width: size(20px);
  height: size(20px);
  font-size: size(10px);
  line-height: size(13px);
  text-align: center;
  letter-spacing: -0.1em;
  color: $color-default-white;
  border-radius: size(10px);
  background-color: $color-chelsea-cucumber;
  align-items: center;
  justify-content: center;
}
