.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  max-width: 15%;
}

.social-list__item {
  margin-right: size(20px);

  &:last-child {
    margin: 0;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__icon {
  width: size(24px);
  height: size(21px);
}
